@mixin button__border {
    background: $ColorONe;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 13px;
    padding-bottom: 14px;
    font-family: 'FuturaDemiC';
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $deffColor;
}

@mixin button__white{
 border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 2px;
font-family: 'FuturaDemiC';
font-style: italic;
font-weight: 500;
font-size: 13px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 19px;
padding-bottom: 20px;
padding-left: 22px;
padding-right: 23px;
}

@mixin button_no_border{
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 21px;
    padding-right: 21px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}