@import 'button.scss';


$headerBgColor:#131313;
$ColorONe: #E3B873;
$deffColor: #FFFFFF;
$colorUlText:#959595;



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family:'Yeseva One';
    src: url(../fonts/YesevaOne-Regular.ttf);
}

@font-face {
    font-family:'FuturaDemiC';
    src: url(../fonts/futurademic-italic.ttf);
}

@font-face {
    font-family:'FuturaBookC';
    src: url(../fonts/futurabookctt-normal.ttf);
}


@font-face {
    font-family:'FuturaMediumC';
    src: url(../fonts/futuramediumctt-normal.ttf);
}


@font-face {
    font-family:'Futura';
    src: url(../fonts/futura-normal.ttf);
}


/*=========================================================================================================================
                                                    HEADER
=========================================================================================================================*/

.container{
    max-width: 1256px;
    width: 100%;
    margin: auto;
}

.header{
    background: $headerBgColor ;
    padding-top: 37px;
    padding-bottom: 36px;

   

    .header__block{
        display: flex;
        justify-content: space-between;
        padding-left: 12px;
    }

    .logo__link{
        font-family: 'FuturaDemiC';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $ColorONe;
    }
    

    .link__project{
        font-family: 'FuturaBookC';
        font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color:$deffColor;

    &:hover{
        color: $ColorONe;
    }
    }

    .link__project:not(.edge){
        margin-right: 40px;
    }

   

    .number{
        font-family: 'FuturaDemiC';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
    margin-right: 45px;  
    color: $ColorONe;

    
    }

    .btn__phone{

        @include button__border;


        // background: $ColorONe;
        // box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        // border-radius: 2px;
        // padding-left: 20px;
        // padding-right: 21px;
        // padding-top: 13px;
        // padding-bottom: 14px;
    }

    // .color{
    //     font-family: 'FuturaDemiC';
    //     font-style: italic;
    // font-weight: 500;
    // font-size: 13px;
    // line-height: 15px;
    // text-align: center;
    // text-transform: uppercase;
    // color: $deffColor;
    // }
}

/*=========================================================================================================================
                                                    HEADER end
=========================================================================================================================*/

/*=========================================================================================================================
                                                    send__block
=========================================================================================================================*/
.section__send{
    background: #131313;
}
.send__block{
    background: url(../img/image4.3.png) no-repeat, center/cover;
   position: relative;
   z-index: 1;
}

.container__left{
    max-width: 1256px;
    width: 100%;
   margin: auto;
}

.send__block::after{
    content:'';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index:-1;
}


.sends{
padding-top: 193px;
padding-bottom: 208px;
padding-left: 60px;
position: relative;



&::before{
    content: '' ;
    position: absolute;
    left: -94px;
    top: 344px;
    transform: rotate(-90deg);
    width: 51px;
    height: 2px;
    background: $ColorONe;
}
}

.rotate__link{
    position: absolute;
    content: 'INSTAGRAM';
    transform: rotate(-270deg);
    color: $ColorONe;
    left: -115px;
    top: 250px;

   
    }



.sup__block__title{
    color: $deffColor;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

.sub__one-title{
    color: $deffColor;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

.sub__yellow-title{
    color: $ColorONe;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

.send__text{
    margin-top: 20px;
    font-family: 'FuturaBookC';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: $deffColor;
    margin-bottom: 41px;
}

.money-check{
    @include button__border;
    margin-right: 20px;
    padding-top: 19px;
    padding-bottom: 16px;
    padding-left: 26px;
    padding-right: 26px;
}

.send__btn{
    @include button__white
}











